In [39]:
import csv
import pandas as pd
# Specify the path to your TSV file
file_path = 'data/visogender_data/OP/OP_Visogender_02102023.tsv'

# Open the file in read mode with the appropriate delimiter
with open(file_path, 'r', newline='', encoding='utf-8') as file:
    # make a df from the tsv file
    df = pd.read_csv(file, delimiter='\t')
    # print the first 5 rows of the dataframe

In [40]:
df.head()

,IDX,Sector,Specialisation,Occupation,Participant,URL type (Type NA if can't find),Licence,Occupation_perceived_gender,Participant_perceived_gender,Error codes,Annotator
0,OP_1,education,institutional,teacher,student,https://images.pexels.com/photos/7092361/pexel...,Yes,masculine,masculine,NaN,Siobhan
1,OP_2,education,institutional,teacher,student,https://images.pexels.com/photos/7092583/pexel...,Yes,masculine,masculine,NaN,Siobhan
2,OP_3,education,institutional,teacher,student,https://images.pexels.com/photos/9159042/pexel...,Yes,masculine,masculine,NaN,Siobhan
3,OP_4,education,institutional,teacher,student,https://images.pexels.com/photos/8197543/pexel...,Yes,masculine,masculine,NaN,Siobhan
4,OP_5,education,institutional,teacher,student,https://encrypted-tbn0.gstatic.com/images?q=tb...,Yes,masculine,masculine,NaN,Siobhan

In [41]:
# make new coloumn path
df['path'] = df['IDX'].apply(lambda x: 'data/visogender_data/OP_images/' + str(x) + '.jpeg')

In [42]:
df.head()

,IDX,Sector,Specialisation,Occupation,Participant,URL type (Type NA if can't find),Licence,Occupation_perceived_gender,Participant_perceived_gender,Error codes,Annotator,path
0,OP_1,education,institutional,teacher,student,https://images.pexels.com/photos/7092361/pexel...,Yes,masculine,masculine,NaN,Siobhan,data/visogender_data/OP_images/OP_1.jpeg
1,OP_2,education,institutional,teacher,student,https://images.pexels.com/photos/7092583/pexel...,Yes,masculine,masculine,NaN,Siobhan,data/visogender_data/OP_images/OP_2.jpeg
2,OP_3,education,institutional,teacher,student,https://images.pexels.com/photos/9159042/pexel...,Yes,masculine,masculine,NaN,Siobhan,data/visogender_data/OP_images/OP_3.jpeg
3,OP_4,education,institutional,teacher,student,https://images.pexels.com/photos/8197543/pexel...,Yes,masculine,masculine,NaN,Siobhan,data/visogender_data/OP_images/OP_4.jpeg
4,OP_5,education,institutional,teacher,student,https://encrypted-tbn0.gstatic.com/images?q=tb...,Yes,masculine,masculine,NaN,Siobhan,data/visogender_data/OP_images/OP_5.jpeg

In [38]:
# save the new dataframe to a new tsv file
df.to_csv('data/visogender_data/OP/OP_Visogender_02102023.tsv', sep='\t', index=False)